/*Maak hier jouw CSS!*/
/*DIT IS DE MOBILE GRID*/
.container{
    background-color: #EFF1ED;
    display: grid;
    gap: 16px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 50px auto 50px 50px 50px 50px;
    grid-template-areas:
       "a"
       "b"
       "c"
       "d"
       "e"
       "."
       "f";


}

.grid-item {
    color: #FAEBD7FF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#a {
    grid-area: a;
    background-color: #373D20;
}

#b {
    grid-area: b;
    background-color: #766153;
}

#c {
    grid-area: c;
    background-color: #717744;
}

#d {
    grid-area: d;
    background-color: #BCBD8B;
}

#e {
    grid-area: e;
    background-color: #BCBD8B;

}

#f {
    grid-area: f;
    background-color: #766153;
}

/*DIT IS DE DESKTOP GRID*/
@media screen and (min-width: 576px) {
    .container {
        background-color: #EFF1ED;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 1fr 1fr 2.5fr 1fr;
        gap: 16px 16px;
        grid-template-areas:
    "a e e"
    "b e e"
    "b d f"
    "b d ."
    "c c c";
    }
}